@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  background: hsl(212, 45%, 89%);
  font-family: "Roboto", sans-serif;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsl(0, 0%, 100%);
  width: 280px;
  padding: 15px;
  border-radius: 20px;
}

.qr-image {
  width: 100%;
  border-radius: 10px;
}

.title {
  font-weight: 700;
  text-align: center;
  color: hsl(218, 44%, 22%);
  margin-inline: 15px;
}

.description {
  font-weight: 400px;
  font-size: 15px;
  text-align: center;
  color: hsl(220, 15%, 55%);
  margin-inline: 15px;
}
